.element {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  border-radius: 5px;
  background: #fff;
  transition: .3s;
}

.element:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.element__image {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.element__title {
  margin: 0 0 5px;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s;
}

.element:hover .element__title {
  font-weight: 700;
}

.element__subtitle {
  margin: 0;
  color: #555;
  font-weight: 300;
  font-size: 11px;
}

.element__wrapper {
  flex: 1;
  background-color: inherit;
}

@media screen and (max-width: 1024px) {
  .element__wrapper {
    display: flex;
    align-items: baseline;
  }

  .element__title {
    margin-right: 10px;
  }
}
